<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBDqKWn7SB-hBzRbCsCTsrVakUYaUeekyc</string>
	<key>GCM_SENDER_ID</key>
	<string>768532232006</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>AceEzra.MessageMe</string>
	<key>PROJECT_ID</key>
	<string>messageme-3e9bb</string>
	<key>STORAGE_BUCKET</key>
	<string>messageme-3e9bb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:768532232006:ios:32220e0557d3e2a24cd747</string>
</dict>
</plist>